
 h1{
    border-bottom: 10px solid rebeccapurple; 
    padding : 10px;
    margin-bottom:0;
    }
ol{
    border-right:10px solid burlywood;
    width:150px; 
    margin-top:0;
    }
  #container{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    }
